# os files
.DS_Store

# temp files
tmp/*
!tmp/.gitkeep

# build files
build/

# third-party library files
node_modules
bower_components

# workspace / editor files
*.sublime-workspace
*.vscode

# config files
.env
config/database.json
config/environments/development.yml
config/schema_structure.sql
config/application.yml

# debug files
npm-debug.log